.apply-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .apply-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .apply-form {
    display: flex;
    flex-direction: column;
  }
  
  .apply-form input,
  .apply-form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .apply-form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .apply-form button:hover {
    background-color: #0056b3;
  }
  
  .skill-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .skill-name {
    width: 100px;
  }
  
  .progress-bar {
    flex: 1;
    background-color: #e0e0e0;
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress {
    height: 100%;
    transition: width 0.3s ease-in-out;
  }
  
  .percentage {
    width: 50px;
    text-align: right;
  }
  